<div class="absolute bottom-0 left-2 right-2 block print:hidden">
  <div class="container mx-auto">
    <!-- Footer Start -->
    <footer
      class="footer mt-4 rounded-tr-md rounded-tl-md bg-white dark:bg-slate-800 p-4 text-center font-medium text-slate-600 dark:text-slate-400 shadow md:text-left"
    >
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
     <a href="https://www.oco.com.tw">OCO (Orange Design Technology Co., Ltd.)</a>     
    </footer>
    <!-- end Footer -->
  </div>
</div>

